body {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameBoard {
  width: 40em;
  font-size: 32px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.gameBoard > * {
  margin-top: 2rem;
}

.gameBoard td {
  font-size: 36px;
  width: 3em;
  height: 3em;
  padding: 0;
  border: 1px solid grey;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
}
